{% extends "base.html" %} {% block content %}
<h1 class="text-center">
  SenIngenierie Immobilier votre service immobilier de qualite
</h1>

<div class="container">
  <div class="row">
    <div class="clo-lg-4">
      <p class="text-center">
        SenIngenierie pro est une entreprise de droit senegalais qui s'exerce
        sur le btp. Avec son filial immobilier qui gere les locations et ventes
        d'appartement de maison et de terrains partout au senegal a des prix
        abordables. Notre mission est d'octroyer a chaque senegalais sa maison a
        un petit prix. Avec SenIngenierie pro, fini les locations. Son siege se
        trouve a Notto Gouye DIama pres du CEM, ouvert de 8h a 18h tous les
        jours sauf le dimance.
      </p>
    </div>
  </div>
</div>
{% endblock %}
